.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  margin-top: 10px;
  align-items: center;
}
.tinder-image {
  height: 2em;
  object-fit: contain;
}
.headerIcon {
  padding: 20px;
}
